<header class="mb-12 border-b-1">
  <nav
    class="bg-white border-gray-200 px-2 sm:px-4 py-3 rounded dark:bg-gray-800"
  >
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center">
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >Rooms Project</span
        >
      </a>
      <div *ngIf="loginService.user" class="flex items-center md:order-2">
        <span
          class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800"
          >{{ loginService.user }}</span
        >

        <span
          (click)="logout()"
          class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded cursor-pointer dark:bg-gray-700 dark:text-gray-300"
          ><svg
            class="w-5 h-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
            ></path></svg
        ></span>
      </div>
      <div
        *ngIf="!loginService.user"
        class="flex items-center md:order-2 md:text-sm md:font-medium"
      >
        <a
          routerLink="login"
          class="block py-2 pr-4 pl-3 bg-blue-700 rounded md:bg-transparent text-gray-700 md:p-0 dark:text-white"
          aria-current="page"
          >Login</a
        >
      </div>

      <div
        class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
        >
          <li>
            <a
              routerLink="news"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >News</a
            >
          </li>
          <li>
            <a
              routerLink="internal"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Internal Information</a
            >
          </li>
          <!-- <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
              >Navigation</a
            >
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="container mx-auto">
  <router-outlet></router-outlet>
</main>

<footer
  class="p-4 mt-10 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-800"
>
  <div class="container mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a routerLink="/" class="flex items-center mb-4 sm:mb-0">
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >Rooms Project</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a routerLink="/" class="mr-4 hover:underline md:mr-6">Home</a>
        </li>
        <li>
          <a routerLink="/news" class="mr-4 hover:underline md:mr-6">News</a>
        </li>
        <li>
          <a routerLink="/internal" class="mr-4 hover:underline md:mr-6"
            >Internal Information</a
          >
        </li>
        <li>
          <a routerLink="/" class="hover:underline">Navigation</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2022 <a routerLink="/" class="hover:underline">Rooms Project™</a>. All
      Rights Reserved.
    </span>
  </div>
</footer>
